body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--Background-color-page);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --Background-color-page: #FFFFFF;
    --Logo-color: #4d5ae5;
    --SpanLogoColor: #2e2f42;
    --NavListColor: #2e2f42;
    --contactsColor: #434455;
    --mainSectionBackground-color: #2e2f42;
    --title-thirdColor: #2e2f42;
    --text-pageColor: #434455;
    --title-secondColor: #2e2f42;
    --footer-pageBackgroundColor: #2e2f42;
    --text-footerColor: #F4F4FD;
    --portfolio-buttonColor: #4d5ae5;
    --portfolio-buttonBackgroundColor: #F4F4FD;
    --title-second-portfolioColor: #2e2f42;
    --text-page-portfolioColor: #434455;
    --border: #E7E9FC;
    --buttonColor: #4d5ae5;
    --white-social-text: #FFF;
    --socials-icon: #f4f4fd;
    --customers-link: #8E8F99;
    --ocean: #404BBF;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --dairy: #FCFCFC;
    --socials-icon-team: #f4f4fd;
    --portfolio-cover-text: #F4F4FD;
    --navyblue: #2E2F42;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --lightslate: #8E8F99;
    --iris: #4D5AE5;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --lightslate: #8E8F99;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --white: #FFF;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}


.list {
    list-style: none;
}

img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/**----------------------------------------------------------------------- Header */
.header {
    border-bottom: 1px solid var(--border, #E7E9FC);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;

}

.header-navigation {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Logo-color);
    margin-right: 76px;
}

.header-logo-ditails {
    color: var(--SpanLogoColor);
}

.header-navigation-list {
    display: flex;
    gap: 40px;
}

.header-navigation-item {
    width: calc((100% - 80px)/ 3);

}


.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NavListColor);
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.current::after {
    content: '';
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;



}

.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    font-style: normal;
    display: flex;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contactsColor, #434455);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main {}


/**-------------------------------------------------------------------Section 1 */
.first-section {
    background-color: var(--mainSectionBackground-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.first-section-button {
    background-color: var(--buttonColor);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

/**----------------------------------------------- Section 2 */
.goals-section {
    padding: 120px 0;
}

.goals-section-list {
    display: flex;
    justify-content: center;
    gap: 24px;


}

.goals-section-item {
    width: calc((100% - 72px) / 4);
}

.goals-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.goals-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-thirdColor);
    margin-bottom: 8px;

}

.goals-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-pageColor);
}

/* .goals-icon {
    padding: 24px 100px;
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    margin-bottom: 8px;
    display: inline-block;
    max-width: 264px;
    max-height: 112px;
} */

/**-------------------------------------------------------------------- Section 3 */
.doing-section {
    padding-bottom: 120px;
}

.doing-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-secondColor);
    margin-bottom: 72px;
}

.doing-section-list {
    display: flex;
    gap: 24px;


}

.doing-section-item {
    width: calc((100% - 48px) / 3);
}

/**-------------------------------------------------------------------- Section 4 */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-secondColor);
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
    gap: 24px;
}

.team-section-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-employee-information {
    padding: 32px 0;
}

.team-third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-thirdColor);
    text-align: center;
    margin-bottom: 8px;
}

.team-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-pageColor);
    text-align: center;
}


.socials-icon-list {
    gap: 24px;
    display: flex;
    justify-content: center;
}

.socials-icon-item {
    width: calc((100% - 3 * 24px) / 4);
    width: 40px;
    height: 40px;
}

.socials-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon-team {
    fill: var(--socials-icon-team, #f4f4fd)
}

.socials-icon-link:hover {
    background-color: #404bbf;
}

.socials-icon-link:focus {
    background-color: #404bbf;

}

/** ------------------------------------------------------------Customers------------------- */
.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-container {}

.customers-title {
    color: var(--title-thirdColor, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8E8F99);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-link, #8E8F99);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    color: #404bbf;
    border-color: #404bbf;
}

.customers-link:focus {
    color: #404bbf;
    border-color: #404bbf;
}

.customers-icon {
    fill: currentColor;
}





/**----------------------------------------------------------------------- Footer */

.footer-page {
    background-color: var(--footer-pageBackgroundColor);
    padding: 100px 0;
}

.footer-container-general {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px
}

.footer-logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Logo-color);
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-ditails {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: var(--text-footerColor);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.socials-footer-text {
    color: var(--white-social-text, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.socials-footer-list {
    display: flex;
    gap: 16px;
}

.socials-footer-item {

    width: 40px;
    height: 40px;

}

.socials-icon {
    fill: var(--socials-icon, #f4f4fd)
}

.socials-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--buttonColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
    background-color: #31d0aa;
}

.socials-link:focus {
    background-color: #31d0aa;
}

.footer-form-conteiner {
    margin-left: 80px;
}

.footer-form-title {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-label {}

.footer-form-email {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    background: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white, #FFF);
    outline: transparent;
}

.footer-form-email::placeholder {
    color: var(--white, #FFF);

}

.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white, #FFF);
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.footer-icon-button {
    margin-left: 16px;
    fill: var(--white, #FFF);
}

/**---------------------------------- ---------------------------------Portfolio */
.portfolio-main {}

.portfolio-section {

    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-lict-button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-item-button {}

.portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--portfolio-buttonColor);
    cursor: pointer;
    background-color: var(--portfolio-buttonBackgroundColor);
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
    border: 1px solid var(--border, #E7E9FC);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-cover {
    position: relative;
    overflow: hidden;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-link:focus .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-cover-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-cover-text, #F4F4FD);
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item-iformation {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}




.title-second-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-second-portfolioColor);
    margin-bottom: 8px;

}

.text-page-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-page-portfolioColor);

}

/* *-----------------------------------------------------------MODAL------------------------------------------------- */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}


.btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover {
    background-color: #404bbf;
    border: none;
}

.btn-modal:focus {
    background-color: #404bbf;
    border: none;
}

.btn-modal:hover .icon-close {
    fill: #ffffff;
}

.btn-modal:focus .icon-close {
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    color: var(--lightslate, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;
    line-height: 1.17;
}

.modal-input-conteiner {
    position: relative;
}



.modal-input {

    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {

    border: 1px solid var(--iris, #4D5AE5);
}

.modal-icon-vector {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    transform: translateY(-50%);
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus+.modal-icon-vector {
    fill: var(--iris);
}

.modal-textarea-conteiner {
    margin-bottom: 16px;
}

.modal-textarea {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    margin: 12px;
}

.modal-check-conteiner {
    margin-bottom: 24px;
}

.modal-check {}

.modal-check-text {
    color: var(--lightslate, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    align-items: center;
}

.modal-check-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

} */

.modal-icon-check {}

.modal-check-link {
    color: var(--iris, #4D5AE5);
}

.modal-check:checked+.modal-check-text span {
    background-color: var(--ocean, #404BBF);
    border: none;
    fill: #F4F4FD;

}

.modal-button-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}